*{
    font-family: 'popins',sans-serif;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 0px;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav1{
    box-shadow: 2px 0px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60px;
    background:  linear-gradient(to right,rgb(245, 71, 236) , pink, rgb(72, 72, 252));
}
.nav1{
    font-size: 1.5rem;
}
.search{
    width: 70vw;
    display: flex;
    justify-content: right;

}
.search input{
    padding: 4px;
    padding-left: 10px;
    font-size: 18px;
    border-radius: 5px;
    width: 480px;
    border: 2px solid white;
    outline: none;
    float: left;
}
.search input:focus{
    border-color: white;
}
.inpt{
    padding: 2px;
    border-radius: 12px;
    border: 2px solid white;
    background-color: white;
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search button{
    margin-left: 1px;
    padding: 5px;
    background: linear-gradient(to left,rgb(245, 71, 236) , rgb(72, 72, 252));
    border: 0px solid green;
    border-radius: 6px;
    box-shadow: 1px 1px 3px black;
    cursor: pointer;
    color: white;
    text-shadow: 2px 2px 10px black;
    font-weight: bold;
    float: right;
}
.box{
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 60%;

}
.hdr{
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 0px 10px black;
    border-radius: 10px;
    pointer-events: none;

}
.hdr h1{
    font-size: 2rem;
    display: inline;
}
.hdr p{
    color: rgb(82, 82, 82);
}
.txt{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.txt textarea{
    padding: 10px;
    margin-top: 20px;
    font-size: 17px;
    border: 0.2px solid rgb(177, 177, 177);
    box-shadow: 2px 1px 10px black;
    border-radius: 8px;
    width: 92%;
    height: 150px;
}
.txt button{
    margin: 20px;
    width: 100px;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 10px black;
    background: linear-gradient(to left, rgb(245, 71, 236) , rgb(72, 72, 252));
    border: 0px solid green;
    border-radius: 6px;
    box-shadow: 4px 4px 10px black;
    cursor: pointer;
}
.txt button:disabled{
    color: rgb(209, 209, 209);
    background: linear-gradient(to left, rgb(216, 97, 210) , rgb(92, 92, 228));
    box-shadow: 0px 0px 3px black;
}
.notes{
    margin-top: 50px;
    width: 100%;
    margin-bottom: 150px;
}
.hdnote h1{
    padding: 15px;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid rgb(119, 119, 119);
    box-shadow: 1px 1px 10px rgb(201, 201, 201);
    border-radius: 12px;
    pointer-events: none;

}
.espan{
    display: none;
    margin-top: -40px;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 10px black;
    background: linear-gradient(to left, rgb(245, 71, 236) , rgb(72, 72, 252));
    border-radius: 10px;
   
}
.note{
    padding: 10px;
    margin: 12px;
    max-width: 300px;
    box-shadow: 2px 2px 10px;
    text-align: center;
    word-wrap: break-word;
    border-radius: 9px;
}
.note h1{
    border-bottom: 2px solid black;
}
.note button{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 140px;
    height: 35px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 10px black;
    background: linear-gradient(to right,rgb(255, 66, 246) , rgb(68, 68, 255));
    border: 0px solid green;
    border-radius: 6px;
    box-shadow: 4px 4px 10px black;
    cursor: pointer;
}
.not{
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    justify-content: center;
}

.nothing{
    margin: 50px;
    box-shadow: 1px 1px 10px rgb(201, 201, 201);
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}


@media (max-width:1000px) {
    .box{
        width: 70%;
    }
}

@media (max-width:850px) {
    .nav1{
        flex-direction: column;
        height: 120px;
    }
    .nav1{
        font-size: 1.2rem;
    }
    .search{
        justify-content: center;
        width: 100vw;
        margin-bottom: 30px;
    }
    .inpt{
        width: 90%;
    }
    .search input{
        width: 82%;
    }
    .box{
        width: 90%;
    }
}
@media (max-width:500px) {
    .box{
        width: 97%;
    }
}


.dl{
    width: 200px;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 10px black;
    background: linear-gradient(rgb(245, 71, 236) , rgb(72, 72, 252));
    border: 0px solid green;
    border-radius: 6px;
    box-shadow: 4px 4px 10px black;
    cursor: pointer;
}
